
.pokemon-card-link {
  text-decoration: none;
  color: inherit;
}

.pokemon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card h2 {
  color: black;
  margin: 10px 0 0;
}
